@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  overflow: auto;
  border-radius: 2px;
}

.mapboxgl-popup {
   max-width: 200px;

}

.mapboxgl-popup-content {
   text-align: center;
   border: 2px solid #000000;
   border-radius: 8px;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
   background: rgba(255, 255, 255, 0.8);
}

#title {
  position: absolute;
  text-align: left;
  padding: 15px;
  top: 0;
  bottom: 0;
  left: 20px;
  height: 180px;
  margin-top: 20px;
  margin-left: 10px;
  width: 420px;
  border-radius: 25px;
  border: 2px solid #000000;
  background-color: #ffffff;
  opacity: 0.8;
}

    #menu {

        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        border-radius: 15px;
        opacity: 0.9;
        width: 120px;
        font-family: 'Oswald', sans-serif;
    }

    #menu a {
        font-size: 13px;
        color: #e5e5e5;
        display: block;
        margin: 0;
        padding: 15px;
        padding: 10px;
        opacity: 0.9;
        border-radius: 25px;
        text-decoration: none;
        border: 2px solid rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    #menu a:last-child {
        border: none;
        opacity: 0.9;
    }

    #menu a:hover {
        background-color: #4c4c4c;
        color: #e5e5e5;
        opacity: 0.9;
    }

    #menu a.active {
        background-color: #ffffff;
        color: #4c4c4c;
        opacity: 0.9;
    }

    #menu a.active:hover {
        background: #e5e5e5;
        opacity: 0.9;
    }